<footer class="zhc-footer">
		<div class="zhc-fot"><a href="javascript:;"><img src="{IMG_PATH}img/zhc/zhc-fot_07.png"></a></div>
		<div class="zhc-fots">
			<div>
				<img src="{IMG_PATH}img/zhc/zhc-fotlogo_10.png" />
				<div>
					<h1>优逸客设计公司设计与制造</h1>
					<p>Design and manufacture of excellence guest desgn company</p>
					<img src="{IMG_PATH}img/zhc/zhc-fotsf_10.png" />
					<img src="{IMG_PATH}img/zhc/zhc-fotsf_12.png" />
					<img src="{IMG_PATH}img/zhc/zhc-fotsf_14.png" />
				</div>
			</div>
			<div>
				<ul>
					<li>地址：山西省太原市小店区平阳路学府街开通大厦406号</li>
					<li>联系电话：13948293048  邮箱：19365036qq.com</li>
					<li>微信公众号：xu18437296ni</li>
				</ul>
				<img src="{IMG_PATH}img/zhc/zhc-erweima_10.png" />
			</div>
		</div>
		<div class="zhc-fotss">Copyright &copy;2008 [使用者网站] Powered By [网站程序名称] Version 1.0.0</div>
	</footer>
	<footer class="zhc-footermin">
		<div class="zhc-fotmin"><a href="jacvascript:;"><img src="{IMG_PATH}img/zhc/zhc-fot_07.png"></a></div>
		<p>地址：山西省太原市小店区平阳路学府街开通大厦406号</p>
		<p>联系电话：13948293048  邮箱：19365036qq.com</p>
		<h5>微信公众号：xu18437296ni</h5>
		<div>
			<img src="{IMG_PATH}img/zhc/zhc-fotsf_10.png" />
			<img src="{IMG_PATH}img/zhc/zhc-fotsf_12.png" />
			<img src="{IMG_PATH}img/zhc/zhc-fotsf_14.png" />
		</div>
		<section class="zhc-fotend">Copyright &copy;2008 [使用者网站] Powered By [网站程
序名称] Version 1.0.0</section>
	</footer>
</body>
</html>
