<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}myheader.css">
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}css/common.css">
	<script type="text/javascript" src="{JS_PATH}js/jquery.js"></script>
	<script type="text/javascript" src="{JS_PATH}js/common.js"></script>
	<body>
		<nav class="navmax">
            <div class="juone"></div>
            <div class="sy2"></div>
                <!--<?php echo "haha" ?>-->
                {pc:content action="category" catid="0" num="10" order="id ASC"}
                	<div class="jutwo">
                		<img src="{IMG_PATH}img/ly/sy3.png" alt="">
                			{loop $data $v}
                				<a href="{$v[url]}">{$v[catname]}</a>
                			{/loop}
                		<section class="denglu">
		                    <a href="javascript:;">登陆</a>
		                    <a href="javascript:;">注册</a>
		                </section>
		                <input type="text" name="search">
                	</div>
                {/pc}
        </nav>
<!--        			<?php var_dump($data)?>-->
        <nav class="navmin">
        	<div><img src="{IMG_PATH}img/zhc/zhc-minicon_03.png"></div>
        	<div>
        		<img src="{IMG_PATH}img/zhc/zhc-minicon_05.png">
        		<ul>
        			{pc:content action="category" num="10" catid="0" order="id ASC"}
        				{loop $data $v}
        				<li>
        					<a href="{$v[url]}">
		        				<h1>{$v[catname]}</h1>
		        				<p>{$v[catdir]}</p>
		        				<div>
		        					<img src="{IMG_PATH}img/zhc/zhc-minzt_12.png" />
		        					<img src="{IMG_PATH}img/zhc/zhc-minzt_10.png" class="active"/>
		        				</div>
	        				</a>
        				</li>
        				{/loop}
        			{/pc}
        			
        		</ul>
        	</div>
        </nav>
